<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <h2>Border, Background, Height, Width</h2>
    <div id="productFour">
        Product Four
    </div>
    <div class="product">
        Product One
    </div>
    <div class="product">
        Product Two
    </div>
    <div id="productThree">
        Product Three
    </div>
    
</body>

</html>